* {
    margin: 0;
    padding: 0;
}
/*화면*/
body {
    background-color: #000;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Jeju Gothic', 'Source Sans Pro';
    /*font-size: 1em;*/
}
/*회원가입 폼*/
h1 {
    text-align: left;
    margin: 5% 13% 1%;
}
/*제목*/
h2 {
    margin: 0 2%;
    color: #fff;
    font-size: 2em;
    font-weight: 900;
}
/*부제*/
h4 {
    margin: 2%;
    padding: 2% 5%;
    font-size: 1.2em;
    line-height: 1.6;
    color: #ddd;
}
a {
    font-size: 16px;
    text-decoration: none;
    display: block;
    color: #eee;
    transition: .1s ease;
    -webkit-transition: .1s ease;
    -moz-transition: .1s ease;
    -o-transition: .1s ease;
}
a:hover {color: #fff;}
/*div {display:block;}*/


@media screen and (min-width:769px) {
    /*공통부분*/
    h2 {font-size: 4em;}
    h4 {font-size: 3em;}
}